*/node_modules/
*/cartridges/*/cartridge/static/*/css/
*/cartridges/*/cartridge/static/*/js/
*/allure-results
*/allure-report
*/report.html
*/package-lock.json

coverage/
npm-debug.log
cartridges.zip
.idea/
dw.json
davos.json
.DS_Store
test/appium/webdriver/config.json
.vscode
.history
sfra-jsdoc/dist/*
tmp/*
node_modules
package-lock.json
